In [ ]:
import pandas as pd
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder

train = pd.read_csv('data/train.csv')

In [2]:
'''PassengerId : identifiant du passager (on peut considérer par exemple qu'il s'agit de son numéro d'enregistrement, chaque passager a ainsi un identifiant différent de celui des autres passagers).

Survived : 0 signifie que le passager n'a pas survécu à l'accident, 1 qu'il a survécu.

Pclass : 1, 2 ou 3 (première classe, seconde classe ou troisième classe).

Name : nom du passager.

Sex.

Age.

SibSp : nombre de frères, soeurs (et conjoints) sur le bateau.

Parch : nombre de parents et enfants sur le bateau.

Ticket : numéro (code) du ticket passager.

Fare : prix du ticket.

Cabin : numéro de cabine.

Embarked : Port d'embarcation (C = Cherbourg, Q = Queenstown, S = Southampton).'''
print(train.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
train

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

Stats sur chaque caractéristiques

In [4]:

print('stats sexe')
print(train.groupby('Sex')['Survived'].mean())

print('stats classe')
print(train.groupby('Pclass')['Survived'].mean())

print('stats port')
print(train.groupby('Embarked')['Survived'].mean())

print('stats age')

bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
labels = ['0–10', '10–20', '20–30', '30–40', '40–50', '50–60', '60–70', '70–80']


train['AgeGroup'] = pd.cut(train['Age'], bins=bins, labels=labels, right=False)

print(train.groupby('AgeGroup')['Survived'].mean())

stats sexe
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
stats classe
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
stats port
Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64
stats age
AgeGroup
0–10     0.612903
10–20    0.401961
20–30    0.350000
30–40    0.437126
40–50    0.382022
50–60    0.416667
60–70    0.315789
70–80    0.000000
Name: Survived, dtype: float64

/var/folders/8v/07058vw10t3cs4bfzv9cyl500000gn/T/ipykernel_96130/2998127106.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(train.groupby('AgeGroup')['Survived'].mean())

In [23]:
X = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
Y = ['Survived']

numbers = ['Pclass', 'SibSp', 'Parch', 'Fare']
strings = ['Sex', 'Embarked']

In [42]:
Encoder = OneHotEncoder(handle_unknown='error', sparse_output=False)

    
Encoder.fit(train[strings])
train_strings = Encoder.transform(train[strings])
train.drop(columns=strings, inplace=True)
train = pd.concat([train, train_strings], axis=1)
print(train.head())

KeyError: "None of [Index(['Sex', 'Embarked'], dtype='object')] are in the [columns]"

In [19]:
def distance(df):
    pass

In [ ]:
class MonKNN(KNeighborsClassifier):
        
    def __init__( n_neighbors = 5, algorithm='auto', leaf_size=30,weights = 'distance' , metric= distance) -> None:
        self.n_neighbors = n_neighbors
        self.weights = weights
        self.algorithm = algorithm
        self.leaf_size = leaf_size

        self.metric = metric
    

    def fit(self, X, y) -> None:
        pass

    def predict(self, X : ) -> np.ndarray:
        pass

    def score(self, X, y) -> float:
        pass